<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SistemaHotelMVC</display-name>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/home</url-pattern>
    <url-pattern>/default</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarHospedeServlet</display-name>
    <servlet-name>CadastrarHospedeServlet</servlet-name>
    <servlet-class>controller.hospede.CadastrarHospedeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarHospedeServlet</servlet-name>
    <url-pattern>/hospede/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarHospedeServlet</display-name>
    <servlet-name>EditarHospedeServlet</servlet-name>
    <servlet-class>controller.hospede.EditarHospedeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarHospedeServlet</servlet-name>
    <url-pattern>/hospede/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarHospedeServlet</display-name>
    <servlet-name>ListarHospedeServlet</servlet-name>
    <servlet-class>controller.hospede.ListarHospedeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarHospedeServlet</servlet-name>
    <url-pattern>/hospede/listar</url-pattern>
    <url-pattern>/hospede</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirHospedeServlet</display-name>
    <servlet-name>ExcluirHospedeServlet</servlet-name>
    <servlet-class>controller.hospede.ExcluirHospedeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirHospedeServlet</servlet-name>
    <url-pattern>/hospede/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarQuartoServelet</display-name>
    <servlet-name>ListarQuartoServelet</servlet-name>
    <servlet-class>controller.quarto.ListarQuartoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarQuartoServelet</servlet-name>
    <url-pattern>/quarto/listar</url-pattern>
    <url-pattern>/quarto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarQuartoServelet</display-name>
    <servlet-name>CadastrarQuartoServelet</servlet-name>
    <servlet-class>controller.quarto.CadastrarQuartoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarQuartoServelet</servlet-name>
    <url-pattern>/quarto/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarRecepcionistaServlet</display-name>
    <servlet-name>ListarRecepcionistaServlet</servlet-name>
    <servlet-class>controller.recepcionista.ListarRecepcionistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRecepcionistaServlet</servlet-name>
    <url-pattern>/recepcionista</url-pattern>
    <url-pattern>/recepcionista/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarRecepcionistaServlet</display-name>
    <servlet-name>CadastrarRecepcionistaServlet</servlet-name>
    <servlet-class>controller.recepcionista.CadastrarRecepcionistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarRecepcionistaServlet</servlet-name>
    <url-pattern>/recepcionista/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirRecepcionistaServlet</display-name>
    <servlet-name>ExcluirRecepcionistaServlet</servlet-name>
    <servlet-class>controller.recepcionista.ExcluirRecepcionistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirRecepcionistaServlet</servlet-name>
    <url-pattern>/recepcionista/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarRecepcionistaServlet</display-name>
    <servlet-name>EditarRecepcionistaServlet</servlet-name>
    <servlet-class>controller.recepcionista.EditarRecepcionistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarRecepcionistaServlet</servlet-name>
    <url-pattern>/recepcionista/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarContaServlet</display-name>
    <servlet-name>ListarContaServlet</servlet-name>
    <servlet-class>controller.conta.ListarContaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarContaServlet</servlet-name>
    <url-pattern>/conta</url-pattern>
    <url-pattern>/conta/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarContaServlet</display-name>
    <servlet-name>EditarContaServlet</servlet-name>
    <servlet-class>controller.conta.EditarContaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarContaServlet</servlet-name>
    <url-pattern>/conta/editar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirQuartoServlet</display-name>
    <servlet-name>ExcluirQuartoServlet</servlet-name>
    <servlet-class>controller.quarto.ExcluirQuartoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirQuartoServlet</servlet-name>
    <url-pattern>/quarto/excluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarQuartoServlet</display-name>
    <servlet-name>EditarQuartoServlet</servlet-name>
    <servlet-class>controller.quarto.EditarQuartoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarQuartoServlet</servlet-name>
    <url-pattern>/quarto/editar</url-pattern>
  </servlet-mapping>
</web-app>